<li class="question-li">
  <div class="question">
	<div class="date">
	  <%= question.created_at %>
	</div>
	<div class="content">
	  <%= question.content %>
	</div>
	<% if logged_in? %>
	<div class="edit">
	  <%= link_to '返信', edit_question_path(token: question.token) %>
	</div>
	<% end %>
  </div>
</li>
