<h1>回答した質問</h1>

<div class="question-list">
  <% if @questions.any? %>
  <%= render @questions %>
  <% else %>
  まだ回答がありません。
  <% end %>
</div>
<div class="">
  <h2><%= "#{admin_user.name}さんに" unless admin_user.nil? %>質問してみよう</h2>

  <%= render 'content_form' %>
</div>
