<header>
  <div class="container">
	<div class="header-inner">
	  <div class="logo">
		<%= link_to 'Q Box', root_path %>
	  </div>
	  <div>
		<%= link_to '回答リスト', questions_path %>
	  </div>
	</div>
  </div>
</header>
